/* hero start */

.hero {
    background-color: #0A2640;
}

.hero-container {
    max-width: 928px;
    margin-right: auto;
    margin-left: auto;
}

.hero-content {
    max-width: 888px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 72px;
    padding-bottom: 166px;
}

.hero-title-sm {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #F1F1F1;
}

.hero-title-lg {
    font-family: Manrope, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.hero-text {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #F1F1F1;
}

@media (max-width: 590px) {
    .hero-title-lg {
        font-size: 48px;
        line-height: 64px;
    }
}

/* hero end */